/*
  Ce fichier contient les variables de style et les classes utilitaires
  pour le composant de navigation.
*/

/* La classe root est utilisée pour définir les variables CSS. */
.root {
    --nav-button-text-color: #fff;
    --nav-active-bg-color: rgba(0, 0, 0, 0.15);
}

/* Style pour le lien de navigation actuellement actif */
.activeLink {
    background-color: var(--nav-active-bg-color);
    border-radius: 4px;
}
