--
-- PostgreSQL database dump
--

\restrict giNaXHkwadgYiPwWQ1fU2ang6M2KCTgmfdjX56Mb5Nh5yguCt8NSRL0TcoeuiJr

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Game; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Game" (
    "GameID" integer NOT NULL,
    "PlayerID" integer NOT NULL,
    "MatchupID" integer NOT NULL,
    "LaneID" integer NOT NULL,
    "GameNumber" integer NOT NULL,
    "GameScore" integer,
    "GameApprovalStatus" character varying(50),
    "IsAbsent" boolean DEFAULT false NOT NULL,
    "LineupPosition" integer
);


ALTER TABLE public."Game" OWNER TO postgres;

--
-- Name: Game_GameID_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Game_GameID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Game_GameID_seq" OWNER TO postgres;

--
-- Name: Game_GameID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Game_GameID_seq" OWNED BY public."Game"."GameID";


--
-- Name: Lane; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Lane" (
    "LaneID" integer NOT NULL,
    "LaneNumber" character varying(10) NOT NULL
);


ALTER TABLE public."Lane" OWNER TO postgres;

--
-- Name: Lane_LaneID_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Lane_LaneID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Lane_LaneID_seq" OWNER TO postgres;

--
-- Name: Lane_LaneID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Lane_LaneID_seq" OWNED BY public."Lane"."LaneID";


--
-- Name: Matchup; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Matchup" (
    "MatchupID" integer NOT NULL,
    "WeekID" integer NOT NULL,
    "Team1_ID" integer NOT NULL,
    "Team2_ID" integer NOT NULL
);


ALTER TABLE public."Matchup" OWNER TO postgres;

--
-- Name: Matchup_MatchupID_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Matchup_MatchupID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Matchup_MatchupID_seq" OWNER TO postgres;

--
-- Name: Matchup_MatchupID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Matchup_MatchupID_seq" OWNED BY public."Matchup"."MatchupID";


--
-- Name: Player; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Player" (
    "PlayerID" integer NOT NULL,
    "PlayerName" character varying(150) NOT NULL,
    "PlayerCode" character varying(50) NOT NULL,
    "CaptainAttribute" boolean,
    "TeamID" integer
);


ALTER TABLE public."Player" OWNER TO postgres;

--
-- Name: Player_PlayerID_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Player_PlayerID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Player_PlayerID_seq" OWNER TO postgres;

--
-- Name: Player_PlayerID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Player_PlayerID_seq" OWNED BY public."Player"."PlayerID";


--
-- Name: Season; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Season" (
    "SeasonID" integer NOT NULL,
    "SeasonStart" date,
    "SeasonEnd" date
);


ALTER TABLE public."Season" OWNER TO postgres;

--
-- Name: Season_SeasonID_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Season_SeasonID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Season_SeasonID_seq" OWNER TO postgres;

--
-- Name: Season_SeasonID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Season_SeasonID_seq" OWNED BY public."Season"."SeasonID";


--
-- Name: Splits; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Splits" (
    "SplitID" integer NOT NULL,
    "SplitStart" date,
    "SplitEnd" date,
    "SeasonID" integer NOT NULL
);


ALTER TABLE public."Splits" OWNER TO postgres;

--
-- Name: Splits_SplitID_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Splits_SplitID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Splits_SplitID_seq" OWNER TO postgres;

--
-- Name: Splits_SplitID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Splits_SplitID_seq" OWNED BY public."Splits"."SplitID";


--
-- Name: Team; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Team" (
    "TeamID" integer NOT NULL,
    "TeamName" character varying(50) NOT NULL
);


ALTER TABLE public."Team" OWNER TO postgres;

--
-- Name: Team_TeamID_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Team_TeamID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Team_TeamID_seq" OWNER TO postgres;

--
-- Name: Team_TeamID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Team_TeamID_seq" OWNED BY public."Team"."TeamID";


--
-- Name: Week; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Week" (
    "WeekID" integer NOT NULL,
    "WeekDate" date,
    "SplitID" integer NOT NULL
);


ALTER TABLE public."Week" OWNER TO postgres;

--
-- Name: Week_WeekID_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Week_WeekID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Week_WeekID_seq" OWNER TO postgres;

--
-- Name: Week_WeekID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Week_WeekID_seq" OWNED BY public."Week"."WeekID";


--
-- Name: Game GameID; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Game" ALTER COLUMN "GameID" SET DEFAULT nextval('public."Game_GameID_seq"'::regclass);


--
-- Name: Lane LaneID; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Lane" ALTER COLUMN "LaneID" SET DEFAULT nextval('public."Lane_LaneID_seq"'::regclass);


--
-- Name: Matchup MatchupID; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Matchup" ALTER COLUMN "MatchupID" SET DEFAULT nextval('public."Matchup_MatchupID_seq"'::regclass);


--
-- Name: Player PlayerID; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Player" ALTER COLUMN "PlayerID" SET DEFAULT nextval('public."Player_PlayerID_seq"'::regclass);


--
-- Name: Season SeasonID; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Season" ALTER COLUMN "SeasonID" SET DEFAULT nextval('public."Season_SeasonID_seq"'::regclass);


--
-- Name: Splits SplitID; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Splits" ALTER COLUMN "SplitID" SET DEFAULT nextval('public."Splits_SplitID_seq"'::regclass);


--
-- Name: Team TeamID; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Team" ALTER COLUMN "TeamID" SET DEFAULT nextval('public."Team_TeamID_seq"'::regclass);


--
-- Name: Week WeekID; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Week" ALTER COLUMN "WeekID" SET DEFAULT nextval('public."Week_WeekID_seq"'::regclass);


--
-- Data for Name: Game; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Lane; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Lane" ("LaneID", "LaneNumber") FROM stdin;
1	1-2
2	3-4
3	5-6
4	7-8
5	9-10
6	11-12
7	13-14
8	15-16
9	17-18
10	19-20
11	21-22
12	23-24
\.


--
-- Data for Name: Matchup; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Player; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Season; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Season" ("SeasonID", "SeasonStart", "SeasonEnd") FROM stdin;
1	2025-09-01	2026-05-31
\.


--
-- Data for Name: Splits; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Splits" ("SplitID", "SplitStart", "SplitEnd", "SeasonID") FROM stdin;
1	2025-09-01	2025-11-30	1
2	2025-12-01	2026-02-28	1
3	2026-03-01	2026-05-31	1
\.


--
-- Data for Name: Team; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Team" ("TeamID", "TeamName") FROM stdin;
1	Les Albatros
2	Les Bisons
3	Les Caribous
4	Les Ducs
5	Les Aigles
6	Les Faucons
7	Les Geais
8	Les Harfangs
9	Les Invincibles
10	Les Jaguars
11	Les Kangourous
12	Les Lions
13	Les Marteaux
14	Les Nomades
15	Les Ours
16	Les Panth├¿res
17	Les Requins
18	Les Scorpions
19	Les Tigres
20	Les Ultimes
21	Les Vip├¿res
22	Les Wapitis
23	Les Yakuzas
24	Les Z├¿bres
\.


--
-- Data for Name: Week; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: Game_GameID_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Game_GameID_seq"', 2490, true);


--
-- Name: Lane_LaneID_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Lane_LaneID_seq"', 12, true);


--
-- Name: Matchup_MatchupID_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Matchup_MatchupID_seq"', 72, true);


--
-- Name: Player_PlayerID_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Player_PlayerID_seq"', 120, true);


--
-- Name: Season_SeasonID_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Season_SeasonID_seq"', 1, false);


--
-- Name: Splits_SplitID_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Splits_SplitID_seq"', 1, false);


--
-- Name: Team_TeamID_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Team_TeamID_seq"', 24, true);


--
-- Name: Week_WeekID_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Week_WeekID_seq"', 11, true);


--
-- Name: Game Game_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Game"
    ADD CONSTRAINT "Game_pkey" PRIMARY KEY ("GameID");


--
-- Name: Lane Lane_LaneNumber_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Lane"
    ADD CONSTRAINT "Lane_LaneNumber_key" UNIQUE ("LaneNumber");


--
-- Name: Lane Lane_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Lane"
    ADD CONSTRAINT "Lane_pkey" PRIMARY KEY ("LaneID");


--
-- Name: Matchup Matchup_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Matchup"
    ADD CONSTRAINT "Matchup_pkey" PRIMARY KEY ("MatchupID");


--
-- Name: Player Player_PlayerCode_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Player"
    ADD CONSTRAINT "Player_PlayerCode_key" UNIQUE ("PlayerCode");


--
-- Name: Player Player_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Player"
    ADD CONSTRAINT "Player_pkey" PRIMARY KEY ("PlayerID");


--
-- Name: Season Season_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Season"
    ADD CONSTRAINT "Season_pkey" PRIMARY KEY ("SeasonID");


--
-- Name: Splits Splits_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Splits"
    ADD CONSTRAINT "Splits_pkey" PRIMARY KEY ("SplitID");


--
-- Name: Team Team_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Team"
    ADD CONSTRAINT "Team_pkey" PRIMARY KEY ("TeamID");


--
-- Name: Week Week_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Week"
    ADD CONSTRAINT "Week_pkey" PRIMARY KEY ("WeekID");


--
-- Name: Game uq_player_matchup_gamenumber; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Game"
    ADD CONSTRAINT uq_player_matchup_gamenumber UNIQUE ("PlayerID", "MatchupID", "GameNumber");


--
-- Name: Game Game_LaneID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Game"
    ADD CONSTRAINT "Game_LaneID_fkey" FOREIGN KEY ("LaneID") REFERENCES public."Lane"("LaneID");


--
-- Name: Game Game_MatchupID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Game"
    ADD CONSTRAINT "Game_MatchupID_fkey" FOREIGN KEY ("MatchupID") REFERENCES public."Matchup"("MatchupID");


--
-- Name: Game Game_PlayerID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Game"
    ADD CONSTRAINT "Game_PlayerID_fkey" FOREIGN KEY ("PlayerID") REFERENCES public."Player"("PlayerID");


--
-- Name: Matchup Matchup_Team1_ID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Matchup"
    ADD CONSTRAINT "Matchup_Team1_ID_fkey" FOREIGN KEY ("Team1_ID") REFERENCES public."Team"("TeamID");


--
-- Name: Matchup Matchup_Team2_ID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Matchup"
    ADD CONSTRAINT "Matchup_Team2_ID_fkey" FOREIGN KEY ("Team2_ID") REFERENCES public."Team"("TeamID");


--
-- Name: Matchup Matchup_WeekID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Matchup"
    ADD CONSTRAINT "Matchup_WeekID_fkey" FOREIGN KEY ("WeekID") REFERENCES public."Week"("WeekID");


--
-- Name: Player Player_TeamID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Player"
    ADD CONSTRAINT "Player_TeamID_fkey" FOREIGN KEY ("TeamID") REFERENCES public."Team"("TeamID");


--
-- Name: Splits Splits_SeasonID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Splits"
    ADD CONSTRAINT "Splits_SeasonID_fkey" FOREIGN KEY ("SeasonID") REFERENCES public."Season"("SeasonID");


--
-- Name: Week Week_SplitID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Week"
    ADD CONSTRAINT "Week_SplitID_fkey" FOREIGN KEY ("SplitID") REFERENCES public."Splits"("SplitID");


--
-- PostgreSQL database dump complete
--

\unrestrict giNaXHkwadgYiPwWQ1fU2ang6M2KCTgmfdjX56Mb5Nh5yguCt8NSRL0TcoeuiJr

