--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Game; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Game" (
    "GameID" integer NOT NULL,
    "PlayerID" integer NOT NULL,
    "MatchupID" integer NOT NULL,
    "LaneID" integer NOT NULL,
    "GameNumber" integer NOT NULL,
    "GameScore" integer,
    "GameApprovalStatus" character varying(50),
    "IsAbsent" boolean DEFAULT false NOT NULL,
    "LineupPosition" integer
);


ALTER TABLE public."Game" OWNER TO postgres;

--
-- Name: Game_GameID_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Game_GameID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Game_GameID_seq" OWNER TO postgres;

--
-- Name: Game_GameID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Game_GameID_seq" OWNED BY public."Game"."GameID";


--
-- Name: Lane; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Lane" (
    "LaneID" integer NOT NULL,
    "LaneNumber" character varying(10) NOT NULL
);


ALTER TABLE public."Lane" OWNER TO postgres;

--
-- Name: Lane_LaneID_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Lane_LaneID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Lane_LaneID_seq" OWNER TO postgres;

--
-- Name: Lane_LaneID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Lane_LaneID_seq" OWNED BY public."Lane"."LaneID";


--
-- Name: Matchup; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Matchup" (
    "MatchupID" integer NOT NULL,
    "WeekID" integer NOT NULL,
    "Team1_ID" integer NOT NULL,
    "Team2_ID" integer NOT NULL
);


ALTER TABLE public."Matchup" OWNER TO postgres;

--
-- Name: Matchup_MatchupID_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Matchup_MatchupID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Matchup_MatchupID_seq" OWNER TO postgres;

--
-- Name: Matchup_MatchupID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Matchup_MatchupID_seq" OWNED BY public."Matchup"."MatchupID";


--
-- Name: Player; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Player" (
    "PlayerID" integer NOT NULL,
    "PlayerName" character varying(150) NOT NULL,
    "PlayerCode" character varying(50) NOT NULL,
    "CaptainAttribute" boolean,
    "TeamID" integer
);


ALTER TABLE public."Player" OWNER TO postgres;

--
-- Name: Player_PlayerID_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Player_PlayerID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Player_PlayerID_seq" OWNER TO postgres;

--
-- Name: Player_PlayerID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Player_PlayerID_seq" OWNED BY public."Player"."PlayerID";


--
-- Name: Season; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Season" (
    "SeasonID" integer NOT NULL,
    "SeasonStart" date,
    "SeasonEnd" date
);


ALTER TABLE public."Season" OWNER TO postgres;

--
-- Name: Season_SeasonID_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Season_SeasonID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Season_SeasonID_seq" OWNER TO postgres;

--
-- Name: Season_SeasonID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Season_SeasonID_seq" OWNED BY public."Season"."SeasonID";


--
-- Name: Splits; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Splits" (
    "SplitID" integer NOT NULL,
    "SplitStart" date,
    "SplitEnd" date,
    "SeasonID" integer NOT NULL
);


ALTER TABLE public."Splits" OWNER TO postgres;

--
-- Name: Splits_SplitID_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Splits_SplitID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Splits_SplitID_seq" OWNER TO postgres;

--
-- Name: Splits_SplitID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Splits_SplitID_seq" OWNED BY public."Splits"."SplitID";


--
-- Name: Team; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Team" (
    "TeamID" integer NOT NULL,
    "TeamName" character varying(50) NOT NULL
);


ALTER TABLE public."Team" OWNER TO postgres;

--
-- Name: Team_TeamID_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Team_TeamID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Team_TeamID_seq" OWNER TO postgres;

--
-- Name: Team_TeamID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Team_TeamID_seq" OWNED BY public."Team"."TeamID";


--
-- Name: Week; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Week" (
    "WeekID" integer NOT NULL,
    "WeekDate" date,
    "SplitID" integer NOT NULL
);


ALTER TABLE public."Week" OWNER TO postgres;

--
-- Name: Week_WeekID_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Week_WeekID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Week_WeekID_seq" OWNER TO postgres;

--
-- Name: Week_WeekID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Week_WeekID_seq" OWNED BY public."Week"."WeekID";


--
-- Name: game; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.game (
    gameid integer NOT NULL,
    playerid integer NOT NULL,
    matchupid integer NOT NULL,
    laneid integer NOT NULL,
    gamenumber integer NOT NULL,
    gamescore integer,
    gameapprovalstatus character varying(50)
);


ALTER TABLE public.game OWNER TO postgres;

--
-- Name: game_gameid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.game_gameid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.game_gameid_seq OWNER TO postgres;

--
-- Name: game_gameid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.game_gameid_seq OWNED BY public.game.gameid;


--
-- Name: lane; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lane (
    laneid integer NOT NULL,
    lanenumber character varying(10) NOT NULL
);


ALTER TABLE public.lane OWNER TO postgres;

--
-- Name: lane_laneid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.lane_laneid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lane_laneid_seq OWNER TO postgres;

--
-- Name: lane_laneid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.lane_laneid_seq OWNED BY public.lane.laneid;


--
-- Name: matchup; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.matchup (
    matchupid integer NOT NULL,
    weekid integer NOT NULL,
    team1_id integer NOT NULL,
    team2_id integer NOT NULL,
    laneid integer NOT NULL
);


ALTER TABLE public.matchup OWNER TO postgres;

--
-- Name: matchup_matchupid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.matchup_matchupid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.matchup_matchupid_seq OWNER TO postgres;

--
-- Name: matchup_matchupid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.matchup_matchupid_seq OWNED BY public.matchup.matchupid;


--
-- Name: player; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.player (
    playerid integer NOT NULL,
    playername character varying(150) NOT NULL,
    playercode character varying(50) NOT NULL,
    captainattribute boolean,
    teamid integer
);


ALTER TABLE public.player OWNER TO postgres;

--
-- Name: player_playerid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.player_playerid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.player_playerid_seq OWNER TO postgres;

--
-- Name: player_playerid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.player_playerid_seq OWNED BY public.player.playerid;


--
-- Name: season; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.season (
    seasonid integer NOT NULL,
    seasonstart date,
    seasonend date
);


ALTER TABLE public.season OWNER TO postgres;

--
-- Name: season_seasonid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.season_seasonid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.season_seasonid_seq OWNER TO postgres;

--
-- Name: season_seasonid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.season_seasonid_seq OWNED BY public.season.seasonid;


--
-- Name: splits; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.splits (
    splitid integer NOT NULL,
    splitstart date,
    splitend date,
    seasonid integer NOT NULL
);


ALTER TABLE public.splits OWNER TO postgres;

--
-- Name: splits_splitid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.splits_splitid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.splits_splitid_seq OWNER TO postgres;

--
-- Name: splits_splitid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.splits_splitid_seq OWNED BY public.splits.splitid;


--
-- Name: team; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.team (
    teamid integer NOT NULL,
    teamname character varying(50) NOT NULL
);


ALTER TABLE public.team OWNER TO postgres;

--
-- Name: team_teamid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.team_teamid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.team_teamid_seq OWNER TO postgres;

--
-- Name: team_teamid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.team_teamid_seq OWNED BY public.team.teamid;


--
-- Name: week; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.week (
    weekid integer NOT NULL,
    weekdate date,
    splitid integer NOT NULL
);


ALTER TABLE public.week OWNER TO postgres;

--
-- Name: week_weekid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.week_weekid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.week_weekid_seq OWNER TO postgres;

--
-- Name: week_weekid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.week_weekid_seq OWNED BY public.week.weekid;


--
-- Name: Game GameID; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Game" ALTER COLUMN "GameID" SET DEFAULT nextval('public."Game_GameID_seq"'::regclass);


--
-- Name: Lane LaneID; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Lane" ALTER COLUMN "LaneID" SET DEFAULT nextval('public."Lane_LaneID_seq"'::regclass);


--
-- Name: Matchup MatchupID; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Matchup" ALTER COLUMN "MatchupID" SET DEFAULT nextval('public."Matchup_MatchupID_seq"'::regclass);


--
-- Name: Player PlayerID; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Player" ALTER COLUMN "PlayerID" SET DEFAULT nextval('public."Player_PlayerID_seq"'::regclass);


--
-- Name: Season SeasonID; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Season" ALTER COLUMN "SeasonID" SET DEFAULT nextval('public."Season_SeasonID_seq"'::regclass);


--
-- Name: Splits SplitID; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Splits" ALTER COLUMN "SplitID" SET DEFAULT nextval('public."Splits_SplitID_seq"'::regclass);


--
-- Name: Team TeamID; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Team" ALTER COLUMN "TeamID" SET DEFAULT nextval('public."Team_TeamID_seq"'::regclass);


--
-- Name: Week WeekID; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Week" ALTER COLUMN "WeekID" SET DEFAULT nextval('public."Week_WeekID_seq"'::regclass);


--
-- Name: game gameid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.game ALTER COLUMN gameid SET DEFAULT nextval('public.game_gameid_seq'::regclass);


--
-- Name: lane laneid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lane ALTER COLUMN laneid SET DEFAULT nextval('public.lane_laneid_seq'::regclass);


--
-- Name: matchup matchupid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.matchup ALTER COLUMN matchupid SET DEFAULT nextval('public.matchup_matchupid_seq'::regclass);


--
-- Name: player playerid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.player ALTER COLUMN playerid SET DEFAULT nextval('public.player_playerid_seq'::regclass);


--
-- Name: season seasonid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.season ALTER COLUMN seasonid SET DEFAULT nextval('public.season_seasonid_seq'::regclass);


--
-- Name: splits splitid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.splits ALTER COLUMN splitid SET DEFAULT nextval('public.splits_splitid_seq'::regclass);


--
-- Name: team teamid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.team ALTER COLUMN teamid SET DEFAULT nextval('public.team_teamid_seq'::regclass);


--
-- Name: week weekid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.week ALTER COLUMN weekid SET DEFAULT nextval('public.week_weekid_seq'::regclass);


--
-- Data for Name: Game; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Lane; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Lane" ("LaneID", "LaneNumber") FROM stdin;
1	1-2
2	3-4
3	5-6
4	7-8
5	9-10
6	11-12
7	13-14
8	15-16
9	17-18
10	19-20
11	21-22
12	23-24
\.


--
-- Data for Name: Matchup; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Player; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Season; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Season" ("SeasonID", "SeasonStart", "SeasonEnd") FROM stdin;
1	2025-09-01	2026-05-31
\.


--
-- Data for Name: Splits; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Splits" ("SplitID", "SplitStart", "SplitEnd", "SeasonID") FROM stdin;
1	2025-09-01	2025-11-30	1
2	2025-12-01	2026-02-28	1
3	2026-03-01	2026-05-31	1
\.


--
-- Data for Name: Team; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Team" ("TeamID", "TeamName") FROM stdin;
1	Les Albatros
2	Les Bisons
3	Les Caribous
4	Les Ducs
5	Les Aigles
6	Les Faucons
7	Les Geais
8	Les Harfangs
9	Les Invincibles
10	Les Jaguars
11	Les Kangourous
12	Les Lions
13	Les Marteaux
14	Les Nomades
15	Les Ours
16	Les Panth├¿res
17	Les Requins
18	Les Scorpions
19	Les Tigres
20	Les Ultimes
21	Les Vip├¿res
22	Les Wapitis
23	Les Yakuzas
24	Les Z├¿bres
\.


--
-- Data for Name: Week; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: game; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.game (gameid, playerid, matchupid, laneid, gamenumber, gamescore, gameapprovalstatus) FROM stdin;
\.


--
-- Data for Name: lane; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lane (laneid, lanenumber) FROM stdin;
\.


--
-- Data for Name: matchup; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.matchup (matchupid, weekid, team1_id, team2_id, laneid) FROM stdin;
\.


--
-- Data for Name: player; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.player (playerid, playername, playercode, captainattribute, teamid) FROM stdin;
\.


--
-- Data for Name: season; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.season (seasonid, seasonstart, seasonend) FROM stdin;
\.


--
-- Data for Name: splits; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.splits (splitid, splitstart, splitend, seasonid) FROM stdin;
\.


--
-- Data for Name: team; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.team (teamid, teamname) FROM stdin;
\.


--
-- Data for Name: week; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.week (weekid, weekdate, splitid) FROM stdin;
\.


--
-- Name: Game_GameID_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Game_GameID_seq"', 1440, true);


--
-- Name: Lane_LaneID_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Lane_LaneID_seq"', 12, true);


--
-- Name: Matchup_MatchupID_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Matchup_MatchupID_seq"', 48, true);


--
-- Name: Player_PlayerID_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Player_PlayerID_seq"', 120, true);


--
-- Name: Season_SeasonID_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Season_SeasonID_seq"', 1, false);


--
-- Name: Splits_SplitID_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Splits_SplitID_seq"', 1, false);


--
-- Name: Team_TeamID_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Team_TeamID_seq"', 1, false);


--
-- Name: Week_WeekID_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Week_WeekID_seq"', 1, false);


--
-- Name: game_gameid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.game_gameid_seq', 1, false);


--
-- Name: lane_laneid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lane_laneid_seq', 1, false);


--
-- Name: matchup_matchupid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.matchup_matchupid_seq', 1, false);


--
-- Name: player_playerid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.player_playerid_seq', 1, false);


--
-- Name: season_seasonid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.season_seasonid_seq', 1, false);


--
-- Name: splits_splitid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.splits_splitid_seq', 1, false);


--
-- Name: team_teamid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.team_teamid_seq', 1, false);


--
-- Name: week_weekid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.week_weekid_seq', 1, false);


--
-- Name: Game Game_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Game"
    ADD CONSTRAINT "Game_pkey" PRIMARY KEY ("GameID");


--
-- Name: Lane Lane_LaneNumber_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Lane"
    ADD CONSTRAINT "Lane_LaneNumber_key" UNIQUE ("LaneNumber");


--
-- Name: Lane Lane_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Lane"
    ADD CONSTRAINT "Lane_pkey" PRIMARY KEY ("LaneID");


--
-- Name: Matchup Matchup_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Matchup"
    ADD CONSTRAINT "Matchup_pkey" PRIMARY KEY ("MatchupID");


--
-- Name: Player Player_PlayerCode_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Player"
    ADD CONSTRAINT "Player_PlayerCode_key" UNIQUE ("PlayerCode");


--
-- Name: Player Player_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Player"
    ADD CONSTRAINT "Player_pkey" PRIMARY KEY ("PlayerID");


--
-- Name: Season Season_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Season"
    ADD CONSTRAINT "Season_pkey" PRIMARY KEY ("SeasonID");


--
-- Name: Splits Splits_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Splits"
    ADD CONSTRAINT "Splits_pkey" PRIMARY KEY ("SplitID");


--
-- Name: Team Team_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Team"
    ADD CONSTRAINT "Team_pkey" PRIMARY KEY ("TeamID");


--
-- Name: Week Week_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Week"
    ADD CONSTRAINT "Week_pkey" PRIMARY KEY ("WeekID");


--
-- Name: game game_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.game
    ADD CONSTRAINT game_pkey PRIMARY KEY (gameid);


--
-- Name: lane lane_lanenumber_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lane
    ADD CONSTRAINT lane_lanenumber_key UNIQUE (lanenumber);


--
-- Name: lane lane_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lane
    ADD CONSTRAINT lane_pkey PRIMARY KEY (laneid);


--
-- Name: matchup matchup_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.matchup
    ADD CONSTRAINT matchup_pkey PRIMARY KEY (matchupid);


--
-- Name: player player_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.player
    ADD CONSTRAINT player_pkey PRIMARY KEY (playerid);


--
-- Name: player player_playercode_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.player
    ADD CONSTRAINT player_playercode_key UNIQUE (playercode);


--
-- Name: season season_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.season
    ADD CONSTRAINT season_pkey PRIMARY KEY (seasonid);


--
-- Name: splits splits_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.splits
    ADD CONSTRAINT splits_pkey PRIMARY KEY (splitid);


--
-- Name: team team_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.team
    ADD CONSTRAINT team_pkey PRIMARY KEY (teamid);


--
-- Name: game unique_game_entry; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.game
    ADD CONSTRAINT unique_game_entry UNIQUE (playerid, matchupid, gamenumber);


--
-- Name: Game uq_player_matchup_gamenumber; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Game"
    ADD CONSTRAINT uq_player_matchup_gamenumber UNIQUE ("PlayerID", "MatchupID", "GameNumber");


--
-- Name: week week_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.week
    ADD CONSTRAINT week_pkey PRIMARY KEY (weekid);


--
-- Name: Game Game_LaneID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Game"
    ADD CONSTRAINT "Game_LaneID_fkey" FOREIGN KEY ("LaneID") REFERENCES public."Lane"("LaneID");


--
-- Name: Game Game_MatchupID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Game"
    ADD CONSTRAINT "Game_MatchupID_fkey" FOREIGN KEY ("MatchupID") REFERENCES public."Matchup"("MatchupID");


--
-- Name: Game Game_PlayerID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Game"
    ADD CONSTRAINT "Game_PlayerID_fkey" FOREIGN KEY ("PlayerID") REFERENCES public."Player"("PlayerID");


--
-- Name: Matchup Matchup_Team1_ID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Matchup"
    ADD CONSTRAINT "Matchup_Team1_ID_fkey" FOREIGN KEY ("Team1_ID") REFERENCES public."Team"("TeamID");


--
-- Name: Matchup Matchup_Team2_ID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Matchup"
    ADD CONSTRAINT "Matchup_Team2_ID_fkey" FOREIGN KEY ("Team2_ID") REFERENCES public."Team"("TeamID");


--
-- Name: Matchup Matchup_WeekID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Matchup"
    ADD CONSTRAINT "Matchup_WeekID_fkey" FOREIGN KEY ("WeekID") REFERENCES public."Week"("WeekID");


--
-- Name: Player Player_TeamID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Player"
    ADD CONSTRAINT "Player_TeamID_fkey" FOREIGN KEY ("TeamID") REFERENCES public."Team"("TeamID");


--
-- Name: Splits Splits_SeasonID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Splits"
    ADD CONSTRAINT "Splits_SeasonID_fkey" FOREIGN KEY ("SeasonID") REFERENCES public."Season"("SeasonID");


--
-- Name: Week Week_SplitID_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Week"
    ADD CONSTRAINT "Week_SplitID_fkey" FOREIGN KEY ("SplitID") REFERENCES public."Splits"("SplitID");


--
-- Name: game game_laneid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.game
    ADD CONSTRAINT game_laneid_fkey FOREIGN KEY (laneid) REFERENCES public.lane(laneid);


--
-- Name: game game_matchupid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.game
    ADD CONSTRAINT game_matchupid_fkey FOREIGN KEY (matchupid) REFERENCES public.matchup(matchupid);


--
-- Name: game game_playerid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.game
    ADD CONSTRAINT game_playerid_fkey FOREIGN KEY (playerid) REFERENCES public.player(playerid);


--
-- Name: matchup matchup_laneid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.matchup
    ADD CONSTRAINT matchup_laneid_fkey FOREIGN KEY (laneid) REFERENCES public.lane(laneid);


--
-- Name: matchup matchup_team1_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.matchup
    ADD CONSTRAINT matchup_team1_id_fkey FOREIGN KEY (team1_id) REFERENCES public.team(teamid);


--
-- Name: matchup matchup_team2_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.matchup
    ADD CONSTRAINT matchup_team2_id_fkey FOREIGN KEY (team2_id) REFERENCES public.team(teamid);


--
-- Name: matchup matchup_weekid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.matchup
    ADD CONSTRAINT matchup_weekid_fkey FOREIGN KEY (weekid) REFERENCES public.week(weekid);


--
-- Name: player player_teamid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.player
    ADD CONSTRAINT player_teamid_fkey FOREIGN KEY (teamid) REFERENCES public.team(teamid);


--
-- Name: splits splits_seasonid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.splits
    ADD CONSTRAINT splits_seasonid_fkey FOREIGN KEY (seasonid) REFERENCES public.season(seasonid);


--
-- Name: week week_splitid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.week
    ADD CONSTRAINT week_splitid_fkey FOREIGN KEY (splitid) REFERENCES public.splits(splitid);


--
-- PostgreSQL database dump complete
--

