.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding-top: 10rem; 
  padding-bottom: 20px;
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
}

/* Footer Styles */
.app-footer {
  background-color: var(--primary-dark); 
  color: var(--text-light);             
  padding: 1.5rem 2rem;
  width: 100%;
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.copyright-text {
  font-size: 0.9rem;
  color: white; 
  order: 2;
}

.footer-actions {
  display: flex;
  gap: 1rem;
  order: 1;
}


.footer-button:hover {
 
  filter: brightness(90%);
}