
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap');

:root {
  --primary-dark: #3b658f;
  --primary-medium: #5b5c5d;
  --accent-blue: #18B2C8;
  --background-light: #ecf0f1;
  --surface-white: #ffffff;
  --text-light: #ecf0f1;
  --text-dark: #34495e;
  --border-color: #bdc3c7;
}

body {
  margin: 0;
  
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-light);
  color: var(--text-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}